.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightcoral;
}

a {
  text-decoration: underline;
}

#cart {
  width: 30px;
}
